<% use_centered_layout boxed: false %>

<div class="fr-mt-2w fr-mb-6w">
  <p>
    <strong><%= User.human :email %> :</strong>
    <%= @user.email %>
  </p>
  <p>
    <strong><%= User.human :team %> :</strong>
    <%= @user.team.organizational_unit %>
  </p>
  <p>
    <strong><%= User.human :siret %> :</strong>
    <%= @user.siret %>
  </p>
</div>

<%= page_actions do %>
  <%= link_to t("shared.back_to_home"), root_path, class: "fr-btn fr-btn--tertiary" %>
<% end %>
