<ul>
  <li>
    <%= link_to "Page d'accueil", root_path %>
  </li>
  <li>
    <%= link_to "Plan du site", plan_path %>
  </li>
  <li>
    <%= link_to "Accessibilité : non conforme", accessibilite_path %>
  </li>
  <li>
    <%= link_to "Mentions légales", mentions_legales_path %>
  </li>
  <li>
    <%= link_to "Données personnelles", donnees_personnelles_path %>
  </li>
  <li>
    <%= link_to "Gestion des cookies", cookies_path %>
  </li>
</ul>
