<% if @tags.load.any? %>

  <%= dsfr_table(caption: t('.caption'), size: :lg) do |t| %>
    <% t.with_head do %>
      <tr>
        <th scope="col" aria-sort="ascending"><%= t('.name') %></th>
        <th scope="col"><%= t('.sites') %></th>
      </tr>
    <% end %>
    <% t.with_body do %>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= dsfr_link_to tag.name, tag %></td>
          <td><%= dsfr_link_to t('.see_sites', tag: tag.name, count: tag.sites_count), sites_path(filter: { tag_id: tag.id }) %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= dsfr_alert(type: :info, title: t('.empty')) %>
<% end %>
