<div class="<%= table_classes %>">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table <%= tag.attributes html_attributes %>>
          <caption class="fr-sr-only">
            <%= caption %>
          </caption>
          <thead>
            <%= head %>
          </thead>
          <tbody>
            <%= body %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
