<%= render "checks/check", check: do %>
  <p>
    <%= check.human(:allowed_level_differences) %>
    <br>
    <% if check.completed? && check.comparison.present? %>
    <%= check.human_explanation %>
    <% else %>
      <%= check.human(:expectations) %>
    <% end %>
  </p>
  <ul class="fr-raw-list fr-mt-2w">
    <% if check.completed? && check.comparison.present? %>
      <% check.comparison.each do |heading_status| %>
        <li class="fr-mb-2w">
          <%= heading_status.ok? ? icon(:checkbox, line: true, class: "fr-mr-1v fr-label--success") : icon(:close, :circle, class: "fr-mr-1v fr-label--error") %>
          <strong>
            <code>&lt;h<%= heading_status.expected_level %>&gt;</code>
            <%= heading_status.expected_heading %>
            <code>&lt;/h<%= heading_status.expected_level %>&gt;</code>
          </strong>
          (<%= heading_status.message %>)
          <% if heading_status.fuzzy_match? %>
            <p class="fr-ml-4w fr-mb-0">
              <%= check.human(:retained) %>
              <cite><%= heading_status.actual_heading %></cite>
            </p>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <% Checks::AccessibilityPageHeading::EXPECTED_HEADINGS.each do |level, heading| %>
        <li class="fr-mb-2w">
          <strong>
            <code>&lt;h<%= level %>&gt;</code>
            <%= heading %>
            <code>&lt;/h<%= level %>&gt;</code>
          </strong>
        </li>
      <% end %>
    <% end %>
</ul>
<% end %>
