<div class="fr-mb-5w" id="<%= dom_id check %>">
  <h2 class="fr-h4 fr-mb-1w"><%= check.human_type %></h2>
  <%= badge to_badge(check) %>

  <% if check.completed? %>
    <ul>
      <li><strong><%= t('.compliance_rate') %></strong> : <%= check.human_compliance_rate || t('.unknown') %></li>
      <li><strong><%= t('.audit_date') %></strong> :
        <% if check.audit_date %>
          <%= l(check.audit_date) %>
          (<%= time_ago check.audit_date %>)
        <% else %>
          <%= t('.unknown') %>
        <% end %>
      </li>
      <% if check.audit_update_date %>
        <li><strong><%= t('.audit_update_date') %></strong> :
          <%= l(check.audit_update_date) %>
          (<%= time_ago check.audit_update_date %>)
        </li>
      <% end %>
      <li><strong><%= t('.standard') %></strong> : <%= check.standard || t('.unknown') %></li>
      <li><strong><%= t('.auditor') %></strong> : <%= check.auditor || t('.unknown') %></li>
      <li><strong><%= t('.mentions_article') %></strong> : <%= check.mentions_article ? t("shared.yes") : t("shared.no") %></li>
    </ul>
  <% end %>
</div>
