<div class="fr-mb-5w" id="<%= dom_id check %>">
  <h2 class="fr-h4 fr-mb-1w"><%= check.human_type %></h2>
  <%= badge to_badge(check) %>

  <% if check.completed? %>
    <ul>
      <li><strong><%= check.human(:compliance_rate) %></strong> : <%= check.human_compliance_rate || check.human(:unknown) %></li>
      <li><strong><%= check.human(:audit_date) %></strong> :
        <% if check.audit_date %>
          <%= l(check.audit_date) %>
          (<%= time_ago check.audit_date %>)
        <% else %>
          <%= check.human(:unknown) %>
        <% end %>
      </li>
      <% if check.audit_update_date %>
        <li><strong><%= check.human(:audit_update_date) %></strong> :
          <%= l(check.audit_update_date) %>
          (<%= time_ago check.audit_update_date %>)
        </li>
      <% end %>
      <li><strong><%= check.human(:standard) %></strong> : <%= check.standard || check.human(:unknown) %></li>
      <li><strong><%= check.human(:auditor) %></strong> : <%= check.auditor || check.human(:unknown) %></li>
    </ul>
  <% end %>
</div>
