<div class="fr-mb-5w" id="<%= dom_id check %>">
  <h2 class="fr-h4 fr-mb-1w"><%= check.human_type %></h2>
  <%= badge to_badge(check) %>

  <% if check.completed? && check.link_url %>
    <ul>
      <li>
        <strong><%= Checks::AnalyzePlan.human(:link_text) %> :</strong>
        <%= check.link_text %>
      </li>
      <li>
        <strong><%= Checks::AnalyzePlan.human(:link_url) %> :</strong>
        <%= link_to check.link_url, check.link_url, target: :_blank %>
      </li>
      <li>
        <strong><%= Checks::AnalyzePlan.human(:years) %> :</strong>
        <% if check.years %>
          <%= check.years.join("-") %>
        <% else %>
          <%= Checks::AnalyzePlan.human(:year_not_found) %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
