<div id="<%= dom_id check %>">
  <h2 class="fr-h4"><%= check.human_type %></h2>
  <%= badge check.to_badge %>

  <% if check.passed? %>
    <ul>
      <li><strong><%= check.human(:checks_total) %></strong> : <%= number_to_human(check.checks_total) || check.human(:unknown) %></li>
      <li><strong><%= check.human(:violations) %></strong> : <%= number_to_human(check.violations) || check.human(:unknown) %></li>
      <li><strong><%= check.human(:passes) %></strong> : <%= number_to_human(check.passes) || check.human(:unknown) %></li>
      <li><strong><%= check.human(:incomplete) %></strong> : <%= number_to_human(check.incomplete) || check.human(:unknown) %></li>
      <li><strong><%= check.human(:inapplicable) %></strong> : <%= number_to_human(check.inapplicable) || check.human(:unknown) %></li>
      <li><strong><%= check.human(:success_rate) %></strong> : <%= check.human_success_rate %></li>
    </ul>
  <% end %>

  <%= dsfr_accordion do |accordion| %>
    <% check.violation_data.each do |violation| %>
      <% accordion.with_section title: "[#{violation.human_impact}] #{violation.help} (#{violation.nodes_count})" do %>
        <p><%= dsfr_link_to violation.description, violation.help_url, target: :_blank, rel: :noopener %></p>
        <p><%= check.human(:elements) %> : <%= violation.nodes_count %></p>
        <% if violation.nodes %>
          <ol>
            <% violation.nodes_html.each do |html| %>
            <li><%= html %></li>
            <% end %>
          </ol>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
