<div class="fr-mb-5w" id="<%= dom_id check %>">
  <h2 class="fr-h4 fr-mb-1w"><%= check.human_type %></h2>
  <%= badge to_badge(check) %>

  <% if check.completed? %>
    <p>
      <strong><%= check.human(:success_rate) %></strong> :
      <%= check.human_success_rate %>
      (<%= check.passes + check.incomplete %>/<%= check.applicable_total %>)
    </p>
  <% end %>

  <%= dsfr_accordion do |accordion| %>
    <% check.violation_data.each do |violation| %>
      <% accordion.with_section title: "#{violation.help} (#{violation.human_impact})" do %>
        <p><%= dsfr_link_to violation.description, violation.help_url, target: :_blank, rel: :noopener %></p>
        <p><strong><%= check.human_count(:elements_count, count: violation.nodes_count) %></strong></p>
        <% if violation.nodes %>
          <ol>
            <% violation.nodes_html.each do |html| %>
            <li><%= html %></li>
            <% end %>
          </ol>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
