<div class="fr-mb-2w">
  <strong><%= Check.human(:status) %> :</strong>
  <%= badge to_badge(@check) %>
</div>

<% if @check.errored? %>
  <%= dsfr_alert(size: :md, type: :error, title: @check.error[:klass], starting_header_level: 2, html_attributes: { class: "fr-my-4w" }) do %>
    <p class="fr-mb-2w"><%= @check.error[:message] %></p>
    <%= dsfr_accordion_section(title: Check.human(:backtrace), starting_header_level: 3) do %>
      <ol class="fr-mb-0">
        <% @check.error[:backtrace].each do |line| %>
          <li><code class="text-wrap"><%= line %></code></li>
        <% end %>
      </ol>
    <% end %>
  <% end %>
<% elsif @check.failed? %>
  <p class="fr-mb-3w">
    <strong><%= Check.human :error %> :</strong>
    <%= Check.human(:unknown_error) %>
  </p>
<% end %>

<p>
  <strong><%= Site.human :url %> :</strong>
  <%= link_to @check.site.url, @check.site.url, target: :_blank %>
</p>

<p>
  <strong><%= Check.human :checked_at %> :</strong>
  <% transition = @check.last_transition %>
  <% local_time = transition.created_at.in_time_zone %>
  <%= time_tag local_time, l(local_time, format: :long) %>
  (<%= time_ago local_time %>).
</p>

<%= page_actions do %>
  <%= link_to Site.human(:view), [@check.site, @check.audit, anchor: dom_id(@check)], class: "fr-btn" %>
  <%= link_to t("shared.back_to_list"), checks_path, class: "fr-btn fr-btn--secondary" %>
<% end %>
