<%= form_with(model: site) do |f| %>
  <%= f.dsfr_input_field :url, :text_field, type: :url, required: true, autofocus: true, hint: Site.human(:url_hint) %>

  <%= f.submit t("shared.save"), name: nil, class: "fr-btn", data: { disable_with: t("shared.saving") } %>
<% end %>

<%= or_separator %>

<h2><%= Site.human(:import) %></h2>
<%= form_with(model: upload || SiteUpload.new) do |f| %>
  <%= f.dsfr_file_field :file, label: Site.human(:file), required: true, hint: Site.human(:file_hint), class: "fr-mb-4w", accept: ".csv" %>

  <%= f.submit t("shared.upload"), name: nil, class: "fr-btn", data: { disable_with: t("shared.uploading") } %>
<% end %>
