<%= dsfr_table(caption: "Liste des sites") do |t| %>
  <% t.with_head do %>
    <tr>
      <th scope="col"><%= Site.human(:detail) %></th>
      <th scope="col"><%= sort_link Site.human(:url), :url %></th>
      <% Check.classes.each do |klass| %>
        <th scope="col" class="fr-cell--center" title="<%= klass.human_type %>"><%= klass.table_header %></th>
      <% end %>
      <th scope="col"><%= sort_link Site.human(:last_audit_at), :checked_at %></th>
    </tr>
  <% end %>
  <% t.with_body do %>
    <% @sites.each do |site| %>
      <tr>
        <td class="fr-cell--center"><%= link_to(site, title: Site.human(:view_name, name: site.name), class: "fr-link fr-icon-article-line fr-link--icon-left link--icon-only") { tag.span(class: "fr-sr-only") { Site.human(:view) } } %></td>
        <td><%= link_to site.url_without_scheme, site.url, target: :_blank %></td>
        <% site.audit.all_checks.each do |check| %>
          <td class="fr-cell--center"><%= check.blocked? || check.pending? ? "-" : badge(check.to_badge, tooltip: true) %></td>
        <% end %>
        <td>
          <% if checked_at = site.audit.checked_at %>
            <%= time_tag checked_at, l(checked_at, format: :compact), title: l(checked_at, format: :long) %>
            <br>
            (<%= time_ago checked_at %>)
          <% else %>
            <%= Audit.human("audit/status.pending") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <% t.with_footer_action do %>
    <%= link_to Site.human(:export_to_csv), url_for(format: :csv), class: "fr-btn fr-icon-file-download-fill", data: { "turbo-prefetch": false } %>
  <% end %>
<% end %>
