<div class="fr-col-6">
  <%= render "shared/filter",
             attribute: :tag_id,
             label: t('.tag_filter'),
             params_key: :filter,
             include_blank: t('tags.index.caption'),
             options: options_from_collection_for_select(@tags, :id, :name, params.dig(:filter, :tag_id)) %>
</div>

<% form_id = :table_form %>
<%= form_with(url: sites_path, method: :get, id: form_id) do %>
  <%= hidden_field_tag "filter[tag_id]", params.dig(:filter, :tag_id) %>
  <%= hidden_field_tag "filter[q]", params.dig(:filter, :q) %>
<% end %>

<%= dsfr_table(caption: t('.caption'), border: true, size: :lg) do |t| %>

  <% hidden_search_fields = flatten_params(:sort, :filter, :limit).except("filter[q]") %>
  <% t.with_search(url: url_for, name: "filter[q]", value: params.dig(:filter, :q), hidden_fields: hidden_search_fields) %>

  <% t.with_header_action do %>
    <%= button_tag t("shared.destroy_all"),
                   form: form_id,
                   formaction: bulk_destroy_sites_path,
                   formmethod: :delete,
                   data: { table_target: :button, turbo_confirm: t("shared.confirm"), turbo_submits_with: t(".deleting") },
                   class: icon_class(:delete, line: true, btn: :secondary, class: "fr-hidden") %>
  <% end %>

  <% t.with_head do %>
    <tr>
      <%= dsfr_row_check_all %>
      <th scope="col"><%= t('.detail') %></th>
      <th scope="col" class="fr-cell--sort" <%= aria_sort(:url) %>><%= sortable_header t('.url'), :url %></th>
      <% Check.classes.each do |klass| %>
        <th scope="col" class="fr-cell--center" title="<%= klass.human_type %>"><%= klass.table_header %></th>
      <% end %>
      <th scope="col"><%= t('.tags') %></th>
      <th scope="col" class="fr-cell--sort" <%= aria_sort(:completed_at) %>><%= sortable_header t('.last_audit_at'), :completed_at %></th>
    </tr>
  <% end %>

  <% t.with_body do %>
    <% if @sites.load.any? %>
      <%= render partial: "site", collection: @sites %>
    <% else %>
      <tr>
        <td colspan="<%= 5 + Check.classes.size %>">
          <% if params.dig(:filter, :q).present? %>
            <%= t(".no_search_results") %>
          <% else %>
            <%= t(".no_results") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>

  <% t.with_footer_action do %>
    <%= button_tag t('.export_to_csv'),
                   form: form_id,
                   formaction: csv_export_sites_path(format: :csv),
                   formmethod: :get,
                   data: { "turbo-prefetch": false },
                   class: icon_class("file-download", line: true, btn: :secondary) unless @sites.empty? %>
  <% end %>
<% end %>
