<%= dsfr_table(caption: "Liste des sites") do |t| %>
  <% t.with_head do %>
    <tr>
      <th scope="col"><%= Site.human(:url) %></th>
      <% Check.classes.collect(&:table_header).each do |header| %>
        <th scope="col" class="fr-cell--center"><%= header %></th>
      <% end %>
      <th scope="col"><%= Site.human(:last_audited_at) %></th>
      <th scope="col"><%= t("shared.actions") %></th>
    </tr>
  <% end %>
  <% t.with_body do %>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.url_without_scheme, site %></td>
        <% site.audit.all_checks.each do |check| %>
          <td class="fr-cell--center"><%= badge check.to_badge, tooltip: true %></td>
        <% end %>
        <td>
          <% if site.audit.checked_at %>
            <%= l site.audit.checked_at, format: :compact %>
            <br>
            (<%= time_ago site.audit.checked_at %>)
          <% end %>
        </td>
        <td><%= link_to "Voir le site", site.url, target: :_blank %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>

<%= paginate %>

<%= link_to "Ajouter un site", { action: :new }, class: "fr-btn" %>
