<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || "Acces Cible" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "dsfr.min", "application-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "dsfr.nomodule.min.js", nomodule: true %>
    <%= yield :head %>
  </head>

  <body>
    <%= render "shared/skiplinks" %>
    <%= render "shared/header" %>

    <div class="fr-container">
      <main class="fr-py-2w" id="main">
        <%= render "shared/flash" %>
        <%= yield %>
      </main>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
